.video-preview {
    width: 100%;
}

.thumbnail {
    position: relative;
    width: 100%;
}

.thumbnail-row {
    position: relative;
}

.timestamp {
    position: absolute;
    bottom: 10px;
    right: 4px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 2px;
    font-weight: 500;



}

.video-title {
    margin-top: 0px;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0px;
}

.channel-name {
    color: rgb(66, 66, 66);
    font-size: 12px;
    margin-top: 11px;
    margin-bottom: 4px;
}

.video-stats {
    color: rgb(66, 66, 66);
    font-size: 12px;
    margin-top: 0px;
}

.pfp {
    width: 36px;
    height: 36px;
    border-radius: 30px;
}

.video-info-grid {
    margin-top: 7px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-info-grid1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 7px;
}

.ALL-VIDEO-GRID {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
}
@media(max-width: 750px){
    .ALL-VIDEO-GRID{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:751px) and (max-width:999px){
    .ALL-VIDEO-GRID{
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .ALL-VIDEO-GRID{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}


.h {
    left: 50px;
    right: 50px
}